<table class="table table-striped">
	<thead>
		<tr>
			<th>File ID</th>
			<th>Name</th>
			<th>Chain</th>
			<th>File Type</th>
			<th>Available</th>
			<th>File Size</th>
			<th>Downloadable</th>
			<!-- <th>Path</th> -->
		</tr>
	</thead>
	<tbody>
		{% for file in files|sort(attribute='id', reverse=True) %}
			<tr>
				<th>{{file.id}}</th>
				<th>{{file.name}}</th>
				<th>{{file.chain}}</th>
				<th>{{file.file_type}}</th>
				{% if file.available %}
					<!-- <th><a href="{{url_for('.send_file_from_id', id=file.id)}}">YES</a></th> -->
					<th>YES</th>
				{% else %}
					<th>NO</th>
				{% endif %}
				{% if file.file_size %}
					<th>{{round_to_two(file.file_size/1000000)}} Mb</th>
				{% else %}
					<th></th>
				{% endif %}
				{% if file.s3_status == 'AVAILABLE' %}
					<th><a href="https://s3.amazonaws.com/biggdata{{file.s3_path.replace('//','/',10)}}">Downloadable</a></th>
				{% else %}
					{% if file.s3_status != 'AVAILABLE' and file.available %}
						<th><a href="{{url_for('.transfer_to_s3', file_id=file.id)}}">Stage For Transfer</a></th>
					{% else %}
						<th>{{ file.s3_status }}</th>
					{% endif %}
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
