<!DOCTYPE html>
<html lang="en">
{%- extends "bootstrap/base.html" %}
{%block title %}BIGG DATA{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{%block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 -->{{super()}}
{{fixes.ie8()}}
<!-- <link rel="shortcut icon" href="http://biggdata.rsldrt.com/static/icons/bigg_data_logo.ico">
 -->
<link rel="icon" type="image/png" href="http://biggdata.rsldrt.com/static/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://biggdata.rsldrt.com/static/icons/favicon-16x16.png" sizes="16x16" />

{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{%- endblock %}


{% block navbar %} 
{{nav.frontend_top.render()}}
{% endblock %}




<body>

  <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}
    <nav role="navigation">
    </nav>
    {% endblock outer_content %}

    

    {% block messages %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>
    {% endblock messages %}


    {% block header_content %}
    {% endblock header_content %}


    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main-content" class="col-md-8">
                    <h4>this is rendered off the _base template</h4>
                    {% block content %}
                    <h1>App content goes here - when specified...</h1>
                    {% endblock content %}
                </div>

            </div>
            {% block wide_content %}
            {% endblock wide_content %}
        </div>
    </section>

    <footer>
    </footer>



</body>
</div>
</html>
