{% extends '_base.html' %}

{% block content %}

<div class="container">
	<h3>Analysis {{analysis.id}} Overview</h3>
</div>
<br>


<div class='container'>
{% if status != [] %}
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
{% endif %}
<br>
{% if async_task_id %}
<p>Async Task ID: {{async_task_id}}</p>
{% endif %}
</div>


<br>
<div class="container">
	<table class="table table-striped">
		<tr>
			<th>{{analysis.program}}</th>
			<th><a href="{{url_for('.dataset', id=analysis.dataset.id)}}">Dataset {{analysis.dataset.id}} {{analysis.dataset.name}}</a></th>
			<th>State: {{analysis.status}}</th>
			<th>{% if analysis.active_command %}Running: {{' '.join(analysis.active_command.split(' ')[0:2])}} {% endif %}</th>
			<th>{{analysis.name}}</th>
			<th>{{analysis.description}}</th>
			<th>{{analysis.started}}</th>
		</tr>
	</table>
</div>


<br>
<br>


<div class="container">
	<h4>Files Produced In This Analysis:</h4>
	<br>
	{% set files = analysis.files %}
	{% include "partials/files.html" with context %}
</div>


<br>
<br>


<div class="container">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Total Annotations Produced:</th>
				<th>{{analysis.total_count}}</th>
			</tr>
			<tr>
				<th>Database Import Status:</th>
				<th>{{analysis.db_status}}</th>
			</tr>
		</tbody>
	</table>
</div>

<br>
<br>



<br><br>








<div class='container'>
	<a href={{url_for('.analyses')}}><h4>Back To Analyses Dashboard</h4></a>
</div>

<br><br><br><br><br>











{%endblock content %}


