{% extends '_base.html' %}

{% block content %}

<div class="container">
	<h3>Analyses Dashboard</h3>
</div>

<div class='container'>
{% if status != [] %}
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
{% endif %}
<br>
{% if async_task_id %}
<p>Async Task ID: {{async_task_id}}</p>
{% endif %}
</div>

<div class="container">
<br>
<h4>Run A New Analysis By <a href="{{url_for('.datasets')}}">Selecting A Dataset</a></h4>
</div>




{% for analysis, files in analysis_file_dict.items() %}
<br>
<div class="container">
	<table class="table table-striped">
		<tbody>
				<tr>
				<tr>
					<table class='table table-striped'>
					<tbody>
						<tr>
							<th><a href="{{url_for('.analysis', id=analysis.id)}}">Analysis {{analysis.id}} - Execution of {{analysis.program}}</a> on <a href="{{url_for('.dataset', id=analysis.dataset.id)}}">Dataset {{analysis.dataset.id}} {{analysis.dataset.name}}</a></th>
							<th>State: {{analysis.status}}</th>
							<th>{% if analysis.active_command %}Running: {{' '.join(analysis.active_command.split(' ')[0:2])}} {% endif %}</th>
							<th>{{analysis.name}}</th>
							<th>{{analysis.description}}</th>
							<th>{{analysis.started}}</th>
						</tr>
						</tbody>
					</table>
				</tr>
				<tr>
					{% set files = files %}
					{% include "partials/files.html" with context %}
				</tr>
		</tbody>
	</table>
</div>
<br>

{% endfor %}







{%endblock content %}


