{% extends '_base.html' %}

{% block content %}

<div class="container">
	<center><h3>Analyses Dashboard</h3></center>
	<br>
</div>

<div class="container">

	<div class="row" id="console-container">
		<div class="col-md-12">
	    <div class="panel panel-default">
        <div class="panel-heading">
        	<table width="100%">
	        	<tbody>
		        	<tr>
		        		<td><b>Task Console</b></td>
		        		<td align="right">
	        				<span class="pencil glyphicon glyphicon-refresh" style="margin-right: 3px; color:black; cursor: pointer; cursor: hand;" onclick="refresh_console()"></span>
		        			<span class="pencil glyphicon glyphicon-minus" style="margin-right: 3px; color:black; cursor: pointer; cursor: hand;" onclick="minimize_console()"></span>
		        			<span class="pencil glyphicon glyphicon-plus" style="color:black; cursor: pointer; cursor: hand;" onclick="maximize_console()"></span>
	        			</td>

		        	</tr>

	        	</tbody>
        	</table>
      	</div>

        <div class="panel-body">
        	<samp>
        	<div id ="console" class="form-control" style="overflow-y :scroll; overflow-x: wrap; height: 20ex; resize: vertical;" rows="10">
				 	Loading console... <br>
        	</div>
				</samp>
			</div>

		</div>
	</div><!-- /console container -->

	<br>
	
	<em style="margin-left: 20px;">Run A New Analysis By <a href="{{url_for('.pipeline')}}">Setting Up A Pipeline</a></em>
	
	<br>
	<br>


	{% for analysis, files in analysis_file_dict.items() %}
		<br>
		<div class="container">
			<div class='panel panel-default'>
				<div class="panel-heading">
					<table class="table" style="border-top: none;">
						<tr>
							<th><a href="{{url_for('.analysis', id=analysis.id)}}">Analysis {{analysis.id}}: Execution of {{analysis.program}}</a>{% if analysis.dataset %} on <a href="{{url_for('.dataset', id=analysis.dataset.id)}}">Dataset {{analysis.dataset.id}} {% if analysis.dataset.name != 'Dataset {}'.format(analysis.dataset.id) %}({{analysis.dataset.name}}){% endif %} </a>{% endif %}</th>
							<th>State: {{analysis.status}}</th>
							<th>{% if analysis.active_command %}Running: {{' '.join(analysis.active_command.split(' ')[0:2])}} {% endif %}</th>
							<th>{{analysis.name}}</th>
							<th>{{analysis.description}}</th>
							<th>Started {{analysis.started.strftime("%m/%d/%y %H:%M")}}</th>
						</tr>
					</table>
				</div>
				<div class="panel-body">
					{% set files = files %}
					{%- if files and files != [] -%}
						{% include "partials/files.html" with context %}
					{%- else -%}
						<p>No files were produced by this analysis. <a href="{{url_for('.analysis', id=analysis.id)}}">Click here</a> to view results for this analysis. </p>
					{%- endif -%}
				</div>
			</div>
		</div>
	{% endfor %}


</div>

<br>
<br>





<script>

$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
    maximize_console();
});


	var interval = 5000;
	var status_url ="{{ url_for( 'frontend.json_celery_log' ) }}"
	var new_interval = 10000;
	var set_new_interval = false;
	var zip_timeout;

	function clear_timeouts() {
		var id = window.setTimeout(function() {}, 0);

		while (id--) {
			if (id != zip_timeout){
			    window.clearTimeout(id); // will do nothing if no timeout with id is present
		   }
		}

	}

    function maximize_console() {
    	div = $('#console')
    	space = window.innerHeight - div.offset().top - 40
		div.css({ "height" : space });
		set_new_interval = true;
		new_interval = 10000;
		update_progress();

    }

    function minimize_console() {
    	div = $('#console')
    	space = window.innerHeight - div.offset().top - 40
		div.css({ "height" : "20ex" });
    }

    function refresh_console() {
		set_new_interval = true;
    	new_interval = 10000;
		update_progress();
    }

    function delete_task(delete_url) {

       $.getJSON(delete_url, function(data) {

		if ( data['interval'] ){

			if (interval != data['interval']){
				interval = data['interval']

				clear_timeouts();

				if (timeout){
				    clearTimeout(timeout);
				}

				timeout = setTimeout( update_progress , interval); 
			
			}


		}

		if (set_new_interval){
			interval = new_interval;

			clear_timeouts();

			if (timeout){
			    clearTimeout(timeout);
			}

			timeout = setTimeout( update_progress , interval); 

			set_new_interval = false;
		}

			$('#interval').html( data['message'] );

			$('#console').html( data['message'] );
			$('#interval').html( interval/1000 );

		}).error(function(jqXHR, textStatus, errorThrown) {
	        
            if (jqXHR.readyState == 0) {  
		        $('#console').html('There was an error: Could not connect to BIGG Data Server.<br>\n' );
		    } else {
		        $('#console').html("There was an error - " + textStatus + ':<br>\n' + jqXHR.responseText);
		    }

	   	});		

		clear_timeouts();

		timeout = setTimeout(function() {
			update_progress();
		}, interval); 

	};

    function update_progress() {

       $.getJSON(status_url, function(data) {

		if ( data['interval'] ){

			if (interval != data['interval']){
				interval = data['interval']
		
				clear_timeouts();

				if (timeout){
				    clearTimeout(timeout);
				}

				timeout = setTimeout( update_progress , interval); 
			}
		}

		if (set_new_interval){
			interval = new_interval;
			clear_timeouts();

			if (timeout){
			    clearTimeout(timeout);
			}

			timeout = setTimeout( update_progress , interval); 

			set_new_interval = false;
		}

			$('#interval').html( data['message'] );

			$('#console').html( data['message'] );
			$('#interval').html( interval/1000 );

		}).error(function(jqXHR, textStatus, errorThrown) {
	        
            if (jqXHR.readyState == 0) {  
		        $('#console').html('There was an error: Could not connect to BIGG Data Server.<br>\n' );
		    } else {
		        $('#console').html("There was an error - " + textStatus + ':<br>\n' + jqXHR.responseText);
		    }

	   	});		

		clear_timeouts();

		timeout = setTimeout(function() {
			update_progress();
		}, interval); 

	};

	update_progress();



$('.mightOverflow').bind('mouseenter', function(){
    var $this = $(this);

    if(this.offsetWidth < this.scrollWidth && !$this.attr('title')){
        $this.attr('title', $this.text());
    }
});
</script>
{%endblock content %}


