{% extends '_base.html' %}

{% block content %}

<div class="container">
	<h3>Analysis {{analysis.id}} Overview</h3>
</div>
<br>


<div class='container'>
{% if status != [] %}
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
{% endif %}
<br>
{% if async_task_id %}
<p>Async Task ID: {{async_task_id}}</p>
{% endif %}
</div>


<br>
<div class="container">
	<table class="table table-striped">
		<tr>
			<th>{{analysis.program}}</th>
			<th>State: {{analysis.status}}</th>
			<th>{% if analysis.active_command %}Running: {{' '.join(analysis.active_command.split(' ')[0:2])}} {% endif %}</th>
			<th>{{analysis.name}}</th>
			<th>{{analysis.description}}</th>
			<th>{{analysis.started}}</th>
		</tr>
	</table>
</div>


<br>
<br>


<div class="container">
	<h4>Files Produced In This Analysis:</h4>
	<br>
	{% set files = analysis.files %}
	{% include "partials/files.html" with context %}
</div>


<br>
<br>


<div class="container">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Total Annotations Produced:</th>
				<th>{{analysis.total_count}}</th>
			</tr>
			<tr>
				<th>Database Import Status:</th>
				<th>{{analysis.db_status}}</th>
			</tr>
		</tbody>
	</table>
</div>

<br>
<br>
<!-- 
{{ include_external_html('http://vdjviz.rsldrt.com:9000/') }}
 -->

{% if analysis.available %}

 <div class="container">
 <h4>Visualize your results! For now, download the MIXCR_CLONES_TEXT File (right click and Save As), and then <b>Upload new sample</b>:</h4>
 <br>
 <iframe style='width: inherit; height: 900px;' src="http://vdjviz.rsldrt.com:9000/account"></iframe>
 <p>In case our session is outdated, login with these credentials:  Email:  vdjviz1@vdjviz.com  Password:  vdjviz1 </p>
 </div>


<br><br>




<div class="container">
	<h2>Here's some data gathered directly from our database:</h2>
</div>

<br>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Top 20 Unique CDR3 AA Sequences</th>
				<th># Sequences</th>
			</tr>
		</thead>
		<tbody>
			{% for cdr3_aa, count in cdr3_aa_counts[0:20] %}
				<tr>
					<th>{{cdr3_aa}}</th>
					<th>{{count}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<br>
<br>


<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>20 Most Popular V Genes:</th>
				<th># Sequences</th>
			</tr>
		</thead>
		<tbody>
			{% for v_hit, count in v_hit_counts[0:20] %}
				<tr>
					<th>{{v_hit}}</th>
					<th>{{count}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<br><br>


<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>V Gene Loci Usage</th>
				<th># Sequences</th>
			</tr>
		</thead>
		<tbody>
			{% for v_hit, count in v_hit_loci_counts %}
				<tr>
					<th>{{v_hit}}</th>
					<th>{{count}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endif %}







<br>
<br>




<div class='container'>
	<a href={{url_for('.analyses')}}><h4>Back To Analyses Dashboard</h4></a>
</div>

<br><br><br><br><br>











{%endblock content %}


