{% extends '_base.html' %}

{% block scripts %}
    {{super()}}
    <script src="/static/js/jquery.multi-select.js"></script>
{% endblock scripts %}

{% block content %}

<div class="container">

    <h1>Create a New Project</h1>
    <p>Please input information about your project below:</p>
    <br>
    <form method="POST" action="{{url_for('projects.create_project')}}">
        
        {{ create_project_form.hidden_tag() }}

        <div class='row'>

            <div class="col-sm-4">
                {{ create_project_form.project_name.label }}<br/>
                {{ create_project_form.project_name(class_="form-control") }} <br/>
            </div>
            <div class="col-sm-4">
                {{ create_project_form.lab.label }}<br/>
                {{ create_project_form.lab(class_="form-control") }} <br/>            
            </div>

            <div class="col-sm-4">
                {{ create_project_form.publications.label }}<br/>
                {{ create_project_form.publications(class_="form-control") }} <br/>             
            </div>
        </div>
        <div class='row'>

            <div class="col-sm-4">
                {{ create_project_form.cell_types_sequenced.label }}<br/>
                {{ create_project_form.cell_types_sequenced(class_="form-control") }} <br/>
            </div>
            <div class="col-sm-4">
                {{ create_project_form.species.label }}<br/>
                {{ create_project_form.species(class_="form-control") }} <br/>            
            </div>

            <div class="col-sm-4">
            </div>
        </div>
        <br/>
        <div class='row'>

            <div class="col-sm-4">
                {{ create_project_form.description.label }}<br/>
                {{ create_project_form.description(class_="form-control", rows = '5 ') }} <br/>
            </div>
            <div class="col-sm-4">
                <label>Users who Can Edit</label>
                <select class="form-control"id='editors' name='editors' multiple='multiple'>
                    <option value='elem_1' selected>User 1</option>
                    <option value='elem_2' selected>User 2</option>
                    <option value='elem_3' selected>User 3</option>
                    <option value='elem_4' selected>User 4</option>
                </select>
                <script>
                    $('#editors').multiSelect({
                        selectableHeader: "Grant Access",
                        selectionHeader: "Deny Access"
                    })
                </script>
                <noscript>To edit users, You must enable JavaScript.</noscript>
            </div>

            <div class="col-sm-4">
                <label>Users who Can View</label>
                <select id='viewers' name='viewers' multiple='multiple'>
                    <option value='elem_1' selected>User 1</option>
                    <option value='elem_2' selected>User 2</option>
                    <option value='elem_3' selected>User 3</option>
                    <option value='elem_4' selected>User 4</option>
                </select>
                <script>
                    $('#viewers').multiSelect({
                        selectableHeader: "Grant Access",
                        selectionHeader: "Deny Access"
                    })
                </script>
                <noscript>To edit users, You must enable JavaScript.</noscript>
            </div>

        </div>

        <button type="submit" class="btn btn-default">Submit</button>    
    </form>

</div>



{%endblock content %}


