{% extends '_base.html' %}

{% block scripts %}
    {{super()}}
    <script src="/static/js/jquery.multi-select.js"></script>
{% endblock scripts %}

{% block wide_content %}

<div class="container">

    <h1>Create a New Project</h1>
    <br>
    <br>
    <br>
    <form method="POST" action="{{url_for('frontend.create_project')}}" enctype="multipart/form-data">
        
        {{ create_project_form.hidden_tag() }}

        <div class='row'>

            <div class="col-sm-4">
                {{ create_project_form.name.label }}<br/>
                {{ create_project_form.name(class_="form-control") }} <br/>
            </div>
            <div class="col-sm-4">
                {{ create_project_form.lab.label }}<br/>
                {{ create_project_form.lab(class_="form-control") }} <br/>            
            </div>

            <div class="col-sm-4">
                {{ create_project_form.publications.label }}<br/>
                {{ create_project_form.publications(class_="form-control") }} <br/>             
            </div>
        </div>
        <div class='row'>

            <div class="col-sm-4">
                {{ create_project_form.cell_types_sequenced.label }}<br/>
                {{ create_project_form.cell_types_sequenced(class_="form-control") }} <br/>
            </div>
            <div class="col-sm-4">
                {{ create_project_form.species.label }}<br/>
                {{ create_project_form.species(class_="form-control") }} <br/>            
            </div>

            <div class="col-sm-4">
            </div>
        </div>
        <br/>
        <div class='row'>
            <div class="col-md-4">
                <br/>
                {{ create_project_form.description.label }}<br/>
                {{ create_project_form.description(class_="form-control", rows = '5', multiple='multiple') }} <br/>
                <br/>
                <input type='hidden' name='submit' value="Create">
                <button type="submit" value="submit" class="btn btn-default">Create</button>
            </div> <!-- /description col -->

            <div class="col-md-4"> <!-- datasets col -->
                <div id="accordion">
                    <table cellpadding="5" cellspacing="0" border="0">
                        <tbody class="accordian-control">
                            <tr>
                                <td class="collapse-control"></td>
                                <td valign="center">{{ create_project_form.datasets.label }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="collapseOne" class="collapse" onload="this.expand()">
                        <p style="padding-left: 40px">Click To Add Or Remove</p>
                        {{ create_project_form.datasets(class_="form-control")}} <br/>
                         <noscript>To edit datasets, You must enable JavaScript.</noscript>
                    </div>
                </div> <!-- /accordian -->
                <br/>
            </div>
            <div class="col-md-4">
                <div id="accordion">
                    <table cellpadding="5" cellspacing="0" border="0">
                        <tbody class="accordian-control">
                            <tr>
                                <td class="collapse-control"></td>
                                <td valign="center">{{ create_project_form.editors.label }}</td>
                            </tr>
                        </tbody>
                    </table>                                            
                    <div id="collapseOne" class="collapse">
                        {{ create_project_form.editors(class_="form-control") }} <br/>
                        <noscript>To edit users, You must enable JavaScript.</noscript>
                    </div>
                </div> <!-- /accordian -->
                <br/>
                <div id="accordion">                
                     <table cellpadding="5" cellspacing="0" border="0">
                        <tbody class="accordian-control">
                            <tr>
                                <td class="collapse-control"></td>
                                <td valign="center">{{ create_project_form.viewers.label }}</td>
                            </tr>
                        </tbody>
                    </table>                                            
                    <div id="collapseOne" class="collapse">
                        {{ create_project_form.viewers(class_="form-control") }} <br/>
                        <noscript>To edit users, You must enable JavaScript.</noscript>
                    </div>
                </div> <!-- /accordian -->
                <br/>
            </div>  <!-- /col  -->
        </div>

    </form>

</div>

    <br>
    <br>
    <br>
    <br>
    <br>

<script>

    $(document).on('change', '.btn-file :file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            //label = input.val();
        input.trigger('fileselect', [numFiles, label]);
    });
    
    $(document).ready( function() {
      
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
            var parent_input_group = $(this).closest('div')
            var child_input = parent_input_group.children('input')
            child_input.val(label)

        });
    });

    $('tbody.accordian-control').on( 'click', 'tr', function () {
        var parent_accordian = $(this).closest('div')

        var child_accordian = parent_accordian.children('.collapse')
        child_accordian.collapse('toggle')

        var th = $(this).closest('tbody');

        if ( th.hasClass('shown') ) {
            th.removeClass('shown');
        }
        else {
            th.addClass('shown');

        }
    } );

    $('#datasets').multiSelect({
        selectableHeader: "Add to Project",
        selectionHeader: "Not in Project"
    })

    $('#viewers').multiSelect({
        selectableHeader: "Grant Access",
        selectionHeader: "Deny Access"
    })

    $('#editors').multiSelect({
        selectableHeader: "Grant Access",
        selectionHeader: "Deny Access"
    })

</script>


{% endblock wide_content %}


