{% extends '_base.html' %}

{% block wide_content %}

<div class="container">
	<h3 align="center">BIGG Data Dashboard</h3>
	<br>
</div>

{#% if task_log -%#}

<div class="container">

	<div class="row" id="console-container">
		<div class="col-md-12">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		        	<table width="100%">
			        	<tbody>
				        	<tr>
				        		<td><b>Task Console</b></td>
				        		<td align="right">
			        				<span class="pencil glyphicon glyphicon-refresh" style="margin-right: 3px; color:black; cursor: pointer; cursor: hand;" onclick="refresh_console()"></span>
				        			<span class="pencil glyphicon glyphicon-minus" style="margin-right: 3px; color:black; cursor: pointer; cursor: hand;" onclick="minimize_console()"></span>
				        			<span class="pencil glyphicon glyphicon-plus" style="color:black; cursor: pointer; cursor: hand;" onclick="maximize_console()"></span>
			        			</td>
	
				        	</tr>

			        	</tbody>
		        	</table>
	        	</div>

		        <div class="panel-body">
		        	<samp>
		        	<div id ="console" class="form-control" style="overflow-y :scroll; overflow-x: wrap; height: 20ex; resize: vertical;" rows="10">
 					 	Loading console... <br>
			        
		        	</div>
					</samp>
				</div>

		</div>

	</div>
</div>


<!-- line-height: 2.5ex; height: 7.5ex; -->

{#%- endif %#}

<div class="row">
	<div class="col-md-4">
	    <div class="panel panel-default">
	        <div class="panel-heading"><b>User Information</b></div>

	        <div class="panel-body">
				<label>User: {{current_user.first_name}} {{current_user.last_name}}</label><br>
				<br>
				<table id="fixed" class="table" >
					<tbody>
						<tr>
							<td>
								<label>Username</label>
							</td>
							<td>
								{{current_user.username}}
							</td>
						</tr>
						<tr>
							<td ><label>Email</label></td>
							<td class="ellipsis mightOverflow">{{current_user.email}}</td>
						</tr>
						<tr>
							<td ><label>Directory</label></td>
							<td class="ellipsis mightOverflow">{{current_user.root_path}}</td>
						</tr>
					</tbody>
				</table>
				<br>
	        </div>
	    </div>
	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
	        <div class="panel-heading"><b>Data Management</b></div>

	        <div class="panel-body">
	           <label>Projects</label><br>
	        	<a href="{{ url_for('projects.create_project') }}">Add a Project</a><br>
	        	<a href="{{ url_for('projects.manage_projects') }}">View/Edit a Project</a><br>
	        	<br>
	        	<label>Datasets</label><br>
	        	<a href="{{ url_for('frontend.datasets') }}">Add a Dataset</a><br>
	        	<a href="{{ url_for('frontend.datasets') }}">View/Edit a Dataset</a><br>
	        	<a href="{{ url_for('frontend.edit_default_dataset') }}">Edit Dataset Defaults</a><br>
	        	<br>
	        	<label>Files</label><br>
	        	<a href="{{ url_for('frontend.import_files') }}">Import Files</a><br>
	        	<a href="{{ url_for('frontend.files') }}">View All Files</a><br>
	        	<br>
	        </div>
	    </div>

	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
	        <div class="panel-heading"><b>Data Analysis</b></div>
	        <div class="panel-body">
	        	<label>Quickstart</label><br>
	        	<a href="{{ url_for('frontend.pipeline') }}">Create Analysis Pipeline</a><br>
	        	<br>
	        	<label>Analyses</label><br>
	        	<a href="{{ url_for('frontend.analyses') }}">Analyses and Results</a><br>
	        	<a href="{{ url_for('frontend.datasets') }}">Analyze Dataset</a><br>
	        	<a href="{{ url_for('frontend.msdb') }}">Create MSDB from Annotations</a><br>
	        	<a href="{{ url_for('frontend.pair_vhvl') }}">Pair VH/VL Annotations</a><br>
	        	<a href="{{ url_for('frontend.vdj_visualizer') }}">VDJ VIZualizer</a><br>
	        	<br>
	        	<label>BIGG Data Documentation</label><br>
		        <a href="{{ url_for('frontend.overview') }}">BIGG DATA Overview</a><br>
		        <a href="{{ url_for('frontend.schema') }}">BIGG DB Schema</a><br>
		        <br>
		        <label>External Documentation</label><br>
		        <a href="http://pythonhosted.org/Flask-Bootstrap">Flask-Bootstrap</a><br>
		        <a href="https://github.com/mbr/flask-appconfig">Flask-AppConfig</a><br>
		        <a href="https://github.com/mbr/flask-debug">Flask-Debug</a><br>
	        	<br>
	        </div>
        </div>
	</div>
</div>

<script>


$(document).ready(function(){
    maximize_console();
});

	var interval = 10000;
	var status_url ="{{ url_for( 'frontend.json_celery_log' ) }}"
	var new_interval = 10000;
	var set_new_interval = false;	

	function clear_timeouts() {
		var id = window.setTimeout(function() {}, 0);

		while (id--) {
		    window.clearTimeout(id); // will do nothing if no timeout with id is present
		}

	}

    function maximize_console() {
    	div = $('#console')
    	space = window.innerHeight - div.offset().top - 40
		div.css({ "height" : space });
		set_new_interval = true;
		new_interval = 10000;
		update_progress();

    }

    function minimize_console() {
    	div = $('#console')
    	space = window.innerHeight - div.offset().top - 40
		div.css({ "height" : "20ex" });
    }

    function refresh_console() {
		set_new_interval = true;
    	new_interval = 10000;
		update_progress();
    }

    function delete_task(delete_url) {

       $.getJSON(delete_url, function(data) {

		if ( data['interval'] ){

			if (interval != data['interval']){
				interval = data['interval']

				clear_timeouts();

				if (timeout){
				    clearTimeout(timeout);
				}

				timeout = setTimeout( update_progress , interval); 
			
			}


		}

		if (set_new_interval){
			interval = new_interval;

			clear_timeouts();

			if (timeout){
			    clearTimeout(timeout);
			}

			timeout = setTimeout( update_progress , interval); 

			set_new_interval = false;
		}

			$('#interval').html( data['message'] );

			$('#console').html( data['message'] );
			$('#interval').html( interval/1000 );

		}).error(function(jqXHR, textStatus, errorThrown) {
	        
            if (jqXHR.readyState == 0) {  
		        $('#console').html('There was an error: Could not connect to BIGG Data Server.<br>\n' );
		    } else {
		        $('#console').html("There was an error - " + textStatus + ':<br>\n' + jqXHR.responseText);
		    }

	   	});		

		clear_timeouts();

		timeout = setTimeout(function() {
			update_progress();
		}, interval); 

	};

	update_progress();

    function update_progress() {

       $.getJSON(status_url, function(data) {

		if ( data['interval'] ){

			if (interval != data['interval']){
				interval = data['interval']
		
				clear_timeouts();

				if (timeout){
				    clearTimeout(timeout);
				}

				timeout = setTimeout( update_progress , interval); 
			}
		}

		if (set_new_interval){
			interval = new_interval;
			clear_timeouts();

			if (timeout){
			    clearTimeout(timeout);
			}

			timeout = setTimeout( update_progress , interval); 

			set_new_interval = false;
		}

			$('#interval').html( data['message'] );

			$('#console').html( data['message'] );
			$('#interval').html( interval/1000 );

		}).error(function(jqXHR, textStatus, errorThrown) {
	        
            if (jqXHR.readyState == 0) {  
		        $('#console').html('There was an error: Could not connect to BIGG Data Server.<br>\n' );
		    } else {
		        $('#console').html("There was an error - " + textStatus + ':<br>\n' + jqXHR.responseText);
		    }

        	// console.log( 'Ready state: ' + jqXHR.readyState)
        	// console.log( 'Status: ' + jqXHR.status)

         //    if (jqXHR.readyState === 4) {  
		       //  if (jqXHR.status === 200) {  
		       //    console.log(jqXHR.responseText)  
		       //  } else {  
		       //     console.log("Error", jqXHR.statusText);  
		       //  }   

	   	});		

		clear_timeouts();

		timeout = setTimeout(function() {
			update_progress();
		}, interval); 

	};

	update_progress();

$('.mightOverflow').bind('mouseenter', function(){
    var $this = $(this);

    if(this.offsetWidth < this.scrollWidth && !$this.attr('title')){
        $this.attr('title', $this.text());
    }
});
</script>




{% endblock wide_content %}


