{% extends "_base.html" %}
{% block content %}
<br>

<div class="container">
<h3>Upload a new file from your computer: </h3>
    <form method="POST" action="/file_upload" enctype="multipart/form-data">
    <table class="table table-striped">
        {{ upload_form.csrf_token }}
        <thead>
            <tr>
            <th>File To Upload</th>
                <th>Description</th>
                <th>Locus (VDJ,VJ,TCRA,TCRB)</th>
                <th>Mate File ID</th>
                <th>Dataset ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ upload_form.file }}</th>
                <th> {{ upload_form.description }}</th>
                <th>{{ upload_form.locus  }}</th>
                <th>{{ upload_form.paired_partner }}</th>
                <th>{{ upload_form.dataset_id }}</th>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<br>

<div class="container">
<h3>Or download the data directly from your URL: </h3>
    <form method="POST" action="/file_download" enctype="multipart/form-data">
    <table class="table table-striped">
        {{ download_form.csrf_token }}
        <thead>
            <tr>
                <th>URL</th>
                <th>Description</th>
                <th>Locus (IgG,IgM,...)</th>
                <th>Mate File ID</th>
                <th>Dataset ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ download_form.url }}</th>
                <th> {{ download_form.description }}</th>
                <th>{{ download_form.locus  }}</th>
                <th>{{ download_form.paired_partner }}</th>
                <th>{{ download_form.dataset_id }}</th>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
    </form>
</div>


{% endblock %}