{% extends "_base.html" %}
{% block content %}
<br>



{% if status %}
<div class='container'>
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
</div>
{% endif %}

<br>

{% if r != '' %}
<div class="container">
<p>Async Task ID: {{r.id}}</p>
</div>
{% endif %}

<br>
<br>



<div class="container">
<h3>Download a file from a URL: </h3>
    <form method="POST" action="/file_download" enctype="multipart/form-data">
    <table class="table table-striped">
        {{ download_form.csrf_token }}
        <thead>
            <tr>
                <th>File URL</th>
                <th>Description</th>
                <th>Chain</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ download_form.url(size=60) }}</th>
                <th> {{ download_form.description }}</th>
                <th>{{ download_form.chain  }}</th>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<br>
<br>


<div class="container">
<h4>If you want to use a local file, upload it here first and then import to our system with the form above:</h4>
<br>
<form action="http://biggdata_uploads.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<input type="hidden" name="acl" value="public-read" />
<input type="hidden" name="success_action_redirect" value="http://biggdata.rsldrt.com/file_download" />
<table style="table table-striped">
<tr>
    <th>Enter A Unique File Name: <input type="input" name="key" value="" /> </th>
    <th><input type="file" name="file" /></th>
    <th><input type="submit" name="submit" value="Upload to Amazon S3" /></th>
</tr>
</table> 
</form>
</div>


<br>
<br>


<div class="container">
<a href="{{url_for('.files')}}"><h4>Back To My Files</h4></a>
</div>


<!-- <h4>{{ r }}</h4> -->
{% endblock %}