{% extends '_base.html' %}

{% block content %}

<div class="container">
	<div style="margin-left: 20px; margin-right: 20px;"  class="panel panel-default">
		<div class="panel-heading" align="center">
			<h5>Files Associated Directly With Your User</h5>
		</div>
		<div class='panel-body'>
			<table class="table table-striped" style="table-layout:fixed; width: 100%;">
				<thead>
					<tr>
						<th width="5%">File ID</th>
						<th>Name</th>
						<th width="12%">File Type</th>
						<th width="8%">Available</th>
						<th width="8%">File Size</th>
						<th width="12%">File Created</th>
						<th width="8%">Download</th>
						<th width="6%">Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for file in files %}
						<tr>
							<th><a href="{{url_for('.file', id=file.id)}}">{{file.id}}</a></th>
							<th>{{file.name}}</th>
							<th>{{file.file_type}}</th>
							{%- if file.available -%}
								<th>YES</th>
							{%- else -%}
								<th>NO</th>
							{%- endif -%}
							{%- if file.file_size -%}
								<th>{{file.file_size|filesizeformat}}</th>
							{%- else -%}
								<th></th>
							{%- endif -%}
								<th>{{file.created.strftime("%m/%d/%y %H:%M")}}</th>
							{% if file.available and file.file_size != None and file.file_size != 0%}
								<td align=center>
									<a href="{{ url_for( 'frontend.download', file_id=file.id) }}" onclick="document.someForm.submit();" style="color: inherit; text-decoration: none" download="{{file.name}}">
									<span class="glyphicon glyphicon-download fa-lg" aria-hidden="true" style="color:black; "></span>
								</a>
								</td>
							{% else %}
								<td></td>
							{% endif %}
								<td align=center><a href="{{url_for('.delete_file', id=file.id)}}" onclick="return confirm('Are you sure you want to delete this file?');">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}




<!-- Datatable Script for all files !-->
<script>
$(document).ready(function() {
} );


</script>


<br>
<br>
<br>



