{% extends '_base.html' %}

{% block content %}

<div class="container">
<h1>Checking out file: {{file.name}}</h1>
</div>


<div class="container">
<a href="{{url_for('.send_file_from_id', id=file.id)}}"><h4>DOWNLOAD THIS FILE</h4></a>
</div>


<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Locus</th>
				<th>Dataset ID</th>
				<th>File Type</th>
				<th>Paired To</th>
				<th>Available</th>
				<!-- <th>Path</th> -->
			</tr>
		</thead>
		<tbody>
				<tr>
					<th>{{file.id}}</th>
					<th>{{file.name}}</th>
					<th>{{file.description}}</th>
					<th>{{file.locus}}</th>
					<th>{% if file.dataset_id %}{{file.dataset_id}}{% endif %}</th>
					<th>{{file.file_type}}</th>
					<th>{{file.paired_partner}}</th>
					{% if file.available %}
						<th>YES</th>
					{% else %}
						<th>NO</th>
					{% endif %}
				</tr>
				<tr>
					<th>{{file.path}}</th>
				</tr>
		</tbody>
	</table>
</div>


{%endblock content %}


