{% extends '_base.html' %}

{% block content %}

<div class="editable container">
<h1><a data-toggle="collapse" data-target="#dataEdit" href="#"><span class="pencil glyphicon glyphicon-pencil"></span></a>Checking out file: {{file.name}}</h1>
</div>

<!-- 
<div class="container">
<a href="{{url_for('.send_file_from_id', id=file.id)}}"><h4>DOWNLOAD THIS FILE</h4></a>
</div>
 -->

<div class="editable container">
	<row>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Chain</th>
				<th>Dataset ID</th>
				<th>File Type</th>
				<th>Paired To</th>
				<th>Available</th>
				<!-- <th>Path</th> -->
			</tr>
		</thead>
		<tbody>
				<tr>
					<th><a href="{{url_for('.file', id=file.id)}}">{{file.id}}</a></th>
					<th>{{file.name}}</th>
					<th>{{file.description}}</th>
					<th>{{file.locus}}</th>
					<th>{% if file.dataset_id %}{{file.dataset_id}}{% endif %}</th>
					<th>{{file.file_type}}</th>
					<th>{{file.paired_partner}}</th>
					{% if file.available %}
						<th>YES</th>
					{% else %}
						<th>NO</th>
					{% endif %}
					<!-- <td><a href="#">Edit<span class="pencil glyphicon glyphicon-pencil"></span></a></td> -->
				</tr>
		</tbody>
	</table>
	</row>
	<row>
		<p><strong>File path:</strong> {{file.path}}</p>
	</row>
</div>

<!-- File Edit form !-->
{% if edit == 'edit' %}
<div class="container">
	<div id="dataEdit" class="collapse" aria-expanded="false">
	<form method="POST" action="/files/{{file.id}}">
		<row>
			<h2>Editing file</h2>
			{{ editfileform.csrf_token }}
		</row>
		<row>
			<p>File name:</p>
				{{ editfileform.name(size=20, value=file.name)}}
		</row>
		<row>
			<p>Paired to:</p>
				{{ editfileform.paired_partner }}	
		</row>
		<row>
		<br>
			<button class="btn btn-primary" type="submit">Submit</button>
		</row>
	</form>
	</div>
</div>
{% endif %}
<!-- File Edit form end !-->


<br>
<br>
<br>
<div class="container">
	{% if file.dataset_id != None %}
		{% set dataset = file.dataset %}
		<div>
			<h4><a href="{{url_for('.dataset', id=dataset.id)}}">Dataset {{file.dataset_id}} {{dataset.name}}</a> is associated with this file</h4>
				{% set files = dataset.files %}
				{% include "partials/files.html" with context %}
		</div>
	{% endif %}
</div>

{% endblock content %}


