{% extends "_base.html" %}
{% block content %}
<br>

<div class="container">
<h3>Download a file from a URL: </h3>
    <form method="POST" action="/file_download" enctype="multipart/form-data">
    <table class="table table-striped">
        {{ download_form.csrf_token }}
        <thead>
            <tr>
                <th>File URL</th>
                <th>Description</th>
                <th>Chain (VDJ,VJ,TCRA,TCRB)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ download_form.url(size=60) }}</th>
                <th> {{ download_form.description }}</th>
                <th>{{ download_form.locus  }}</th>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<br>

<div class='container'>
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
<br>
<p>Async Task ID: {{r.id}}</p>
</div>

<div class="container">
<a href="{{url_for('.files')}}"><h4>Back To My Files</h4></a>
</div>


<!-- <h4>{{ r }}</h4> -->
{% endblock %}