{% extends '_base.html' %}

{% block content %}
<div class="container">
	<h1>Welcome to the Data Analysis Portal For The</h1>
	<h1><b>B</b>rent <b>I</b>verson, <b>G</b>eorge <b>G</b>eorgiou Laboratory</h1>
	<br>
	{% if user.is_authenticated() %}
		<h4>Good to see you here, {{user.first_name}}</h4>
		<br>
		{% if user.files.all() == [] %}
			<h4>Looks like you need to <a href="{{url_for('.file_download')}}">import some files</a> to the system</h4>
		{% else %}
			{% if user.datasets.all() == [] %}
			<h4>You've been preloaded with <a href="{{url_for('.files')}}">some example files</a>, or upload you're own to get started!</h4>
			<h4><a href="{{url_for('.datasets')}}">Create a Dataset</a> and add some files to run an analysis</h4>
			{% else %}
					<h4>Looks like you're up and running:</h4>
					<br>
					<h4><a href="{{url_for('.datasets')}}">Go To My Datasets</a></h4>
					<h4><a href="{{url_for('.analyses')}}">Go To My Analyses</a></h4>
			{% endif %}
		{% endif %}
	{% else %}
			<h4>Go To <a href="{{url_for('.login')}}">Login</a> To Create A New User</h4>
	{% endif %}
</div>

<br>
<br>

<div class='container'>
	<h2>CURRENTLY IN LOCAL DEVELOPMENT STATUS</h2>
	<h4>AWS instances cost money, so we don't have any spun up at the moment.</h4>
	<h4>Until we launch a few or migrate to our new server, the queues for all tasks are directed to Russ's laptop.</h4>
	<h4>If you're importing files or running analyses they may not appear or become available until he opens it again.</h4>
</div>

<br>
<br>

<div class="container">
	<h2>Some Key Points On How This Website Works</h2>
	<h4>Datasets represent a set of sequencing files coming from a particular Illumina library.</h4>
	<h4>By defining attributes such as chain and species when adding a dataset, we can populate new analyses with the most appropriate default settings. This will also enable auto-analysis of data when it becomes available.</h4>
	<h4>When running an analysis on a particular dataset, files coming from the same chain need to be pre-processed for overlap alignments and the consensus sequences taken into analysis. You can also pre-run the overlap alignment with alternative settings if you like - the overlaps from the freshest alignment will be analyzed.</h4> 
</div>

	<br>
	<br>

<div class="container">
	<h4>Bear in mind this is in pre-release development, but we're heading toward <b>multi-dataset comparisons</b> to generate the plots we all want and need.</h4>
</div>

<br>
<br>
<br>
<br>
<br>

{%endblock content %}


