{% extends "_base.html" %}
{% block wide_content %}
{% if current_user.is_anonymous() == False %}
    <br>
    <br>
    <p>You are currently logged in as {{current_user.first_name}} {{current_user.last_name}}. 
    <a href="{{url_for('.logout')}}">Click here to logout</a>.</p>
    <br>
{% else %}
    <center><h1>Login or Register for BIGG Data</h1></center>
    <br>
    <!-- login start -->
    <div class="row center-block">
        <div class="col-md-1">
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>

                <div class="panel-body">
                    <form method="POST" action="/login"> 
                        
                        {{ login_form.csrf_token }}
                        {{ login_form.email.label }}<br>
                        {{ login_form.email(class_="form-control") }}<br>
                        {{ login_form.password.label }}<br> 
                        {{ login_form.password(class_="form-control") }}<br>    
                        <input class="btn btn-info" type="submit" value="Login">
                    </form>                
                </div>
            </div>
            
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>

                <div class="panel-body">
                    <form method="POST" action="/users/create">
                        {{ registration_form.csrf_token }}
                        {{ registration_form.first_name.label }}<br>
                        {{ registration_form.first_name(class_="form-control") }}<br>

                        {{ registration_form.last_name.label }}<br>
                        {{ registration_form.last_name(class_="form-control") }}<br>

                        {{ registration_form.username.label }}<br>
                        {{ registration_form.username(class_="form-control") }}<br>

                        {{ registration_form.email.label }}<br>
                        {{ registration_form.email(class_="form-control") }}<br>

                        {{ registration_form.password.label }}<br>
                        {{ registration_form.password(class_="form-control") }}<br>
                        <input class="btn btn-info" type="submit" value="Register">

                    </form>
                </div>
            </div>
        </div>
    </div> <!-- /row -->
    <br>


{% endif %}


{% endblock %}