{% extends '_base.html' %}

{% block content %}

<div class="container">

    <h1>Manage Projects</h1>
    From this page you can add, edit, or browse projects. <a href= "{{ url_for('projects.create_project') }}">Click here</a> to add a project. Click the name of a project to view details about the project. <br/>
    <!--<a href= "{# url_for('projects.browse_projects') #}">Browse Existing Projects</a>-->
    <br/>    
    {% if projects %}
        <table id="fixed" class="table table-striped">
            <thead>
                <tr>
                    <th width="15%">Project Name</th>
                    <th width="30%">Description</th>
                    <th>Species</th>
                    <th>Created</th>
                    <th>Role</th>
                    <th width="5%" class="text-right"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for name, id, description, species, cells, created, role, read_only in projects %}
                    <tr>
                        <th>                                
                            <a href="{{url_for('projects.view_project', project_id = id)}}">{{name}}</a>
                        </th>
                        <th id="ellipsis" class="wide30">{{description}}</th>
                        <th>{{species}}</th>
                        <th>{{created}}</th>
                        <th>{{role}}</th>
                        <th class="text-right">
                            {% if read_only %}

                            {% else %}
                                <form method="get" action="{{url_for('projects.edit_project', project_id = id)}}">
                                    <input type='submit' value="Edit">
                                </form>
                            {% endif %}
                            
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>You have no projects to view at this time.</em>
    {% endif %}

</div>

{% endblock content %}


