{% extends '_base.html' %}

{% block content %}


<div class="container">
<h3>Building PANDASEQ Analysis Run For Dataset {{dataset.id}}: </h3>
</div>


<br>

<div class="container">
<table class="table table-striped" >
<thead>
<h4>PandaSeq Analysis Configuration:</h4>
</thead>
<tbody>
	<form method="POST" action="/analysis/mixcr/{{dataset.id}}">
    {{ form.csrf_token }}
    <tr>
	    <th>{{ form.name.label }} {{ form.name(size=20) }}</th>
	    <th>{{ form.description.label }} {{ form.description(size=40) }}</th>
	    <th>{{ form.algorithm.label }}: {{ form.algorithm }}</th>
	    <th><input type="submit" value="RUN MIXCR PIPELINE"></th>
    </tr>
  </form>
</tbody>
</table>
</div>

<br>
<br>


<div class='container'>
{% if status != [] %}
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
{% endif %}
<br>
{% if async_task_id %}
<p>Async Task ID: {{async_task_id}}</p>
{% endif %}
</div>


<br>
<br>


<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Dataset Name</th>
				<th>Description</th>
				<th>IG Type</th>
				<th>VDJ+VJ Paired</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<th><a href="{{url_for('.dataset', id=dataset.id)}}">{{dataset.name}}</a></th>
					<th>{{dataset.description}}</th>
					<th>{{dataset.ig_type}}</th>
					{% if dataset.paired %}
						<th>YES</th>
					{% else %}
						<th>NO</th>
					{% endif %}
					<th>
					<table class='table table-striped'>
						<thead>
							<tr>
								<th>File Name</th>
								<th>File Type</th>
								<th>Available</th>
							</tr>
						</thead>
						{% for file in dataset.files %}
						<tr>
							<th>{{file.name}}</th>
							<th>{{file.file_type}}</th>

							<th>{% if file.available %}YES{% else %}NO{% endif %}</th>
						</tr>
						{% endfor %}	
					</table>
					</th>
				</tr>
		</tbody>
	</table>
</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





{%endblock content %}






























