{% extends '_base.html' %}

{% block wide_content %}

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>#}
{#<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>#}
{#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css">#}

{#<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>#}
{#<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.moreorless.js') }}"></script>#}
{#<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.treeselect.js') }}"></script>#}
{#<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.chosentree.js') }}"></script>#}
{#        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/moreorless.css') }}" />#}
{#<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/treeselect.css') }}" />#}
{#<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/chosentree.css') }}" />#}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" />

<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.treeselect.js') }}"></script>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/jquery.treeselect.css') }}" />





{#<p>{{ projects_datasets_files }}</p>#}
{#  <div class="container">#}
{#    <div class="chosentree">#}
{#    </div>#}
{#  </div>#}


<div class="container">
  <h3 align="center">BIGG Data - Build Analysis Pipeline</h3>
  <br>
</div>




<script type='text/javascript'>

    JSONObject = JSON.parse('{{ projects_datasets_files }}');

// JSONObject = JSON.parse('{"level": 1, "has_children": true, "title": "Project 101", "id": "101", "type": "project", "children": [{"level": 2, "has_children": true, "title": "SRR1525443", "id": "290", "type": "dataset", "children": [{"level": 3, "file_type": "GZIPPED_FASTQ", "has_children": false, "title": "SRR1525443_1.fastq.gz", "type": "file", "id": 3419}]}]}'); // {"level": 1, "has_children": true, "title": "Project 100", "id": "100", "type": "project", "children": [{"level": 2, "has_children": true, "title": "SRR1525443", "id": "290", "type": "dataset", "children": [{"level": 3, "file_type": "GZIPPED_FASTQ", "has_children": false, "title": "SRR1525443_1.fastq.gz", "type": "file", "id": 3419}]}]}');

    jQuery(function() {
    $('div.chosentree').chosentree({
      width: 500,
      deepLoad: true,
      showtree: true,
      load: function(node, callback) {
          callback(JSONObject)
      }
    });
  });


</script>




<div class="container">


  <div class="row" id="console-container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" align="center">
        <b>Build VDJ Annotation Analysis</b>
        </div>

        <div class="panel-body">

          <form role="form" method="POST" action="{{url_for('frontend.pipeline')}}" enctype="multipart/form-data">
            {{ build_pipeline_form.csrf_token }}
              
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Select Files to Analyze</b>
              </div>
              <div class="panel-body">
                <div class="file_dataset panel-body panel-default" style="padding: 20px;">
                  <table align="center" width="80%">
                    <tr>
                      <td>
                        {{ build_pipeline_form.dataset.label }}
                      </td>
                      <td>
                      </td>
                      <td>
                        {{ build_pipeline_form.dataset_files.label }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{ build_pipeline_form.dataset(default=[selected_dataset], style="min-width: 10em; ", size="12", class="form-control") }}
                      </td>
                      <td>
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:gray; margin: 10px; align-content: true;"></span>
                      </td>
                      <td>
                        {{ build_pipeline_form.dataset_files( style="min-width: 10em;", size="12", class="form-control"  ) }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>  <!-- /file select panel  -->


            <br>
            <br>

            <div class="panel panel-default">
              <div class="panel-heading">
                <center><b>Choose Preprocessing Options</b></center>
              </div>
              <div class="panel-body" align="center">

                <div id="accordion">

                  <table >
                    <tr>
                      <td>
                        <div class="checkbox" class="pull-right" style="padding-left: 4px">
                          <label>
                              {{ build_pipeline_form.trim(class='trim') }}
                              <b>Trimmomatic:</b> Trim FASTQ data
                          </label>
                        </div> <!-- /checkbox -->

                        <div id="collapse" class="collapse trim">
                          <div style="margin-left: 25px">

                            <div class="checkbox" class="pull-right" style="padding-left: 4px">
                              <label>
                                  {{ build_pipeline_form.trim_slidingwindow(class='trim_slidingwindow') }}
                                  <b>Use Sliding Window:</b> Perform a sliding window trimming, cutting once the average quality within the window falls below a threshold. Default is a window of size 4 which trims reads under Q15.
                              </label>
                            </div>

                            <div id="collapse" class="collapse trim_slidingwindow">
                              <table class='table table-striped'> 
                                  <thead>
                                      <tr>
                                          <th>{{ build_pipeline_form.trim_slidingwindow_size.label }}</th>
                                          <th>{{ build_pipeline_form.trim_slidingwindow_quality.label }}</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{ build_pipeline_form.trim_slidingwindow_size(type="number", maxlength=5, size=3, class="form-control") }}</td>
                                          <td>{{ build_pipeline_form.trim_slidingwindow_quality(type="number", maxlength=5,size=3, class="form-control") }}</td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div> <!-- /trim_slidingwindow collapse -->

                            <div class="checkbox" class="pull-right" style="padding-left: 4px">
                              <label>
                                {{ build_pipeline_form.trim_illumina_adapters(class='trim_illumina_adapters') }}
                                  <b>Trim Illumina Adapters</b>
                              </label>
                            </div>                                      

                          </div>
                        </div> <!-- /trim collapse -->

                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox" class="pull-right" style="padding-left: 4px">
                          <label >
                              {{ build_pipeline_form.pandaseq(class='pandaseq') }}
                              <b>PANDAseq:</b> Assemble overlapping pair-end reads
                          </label>
                        </div> <!-- /checkbox -->

                        <div id="collapse" class="collapse pandaseq in">
                            <table class='table table-striped '> 
                              <thead>
                                  <tr>
                                      <th>{{ build_pipeline_form.pandaseq_algorithm.label }}</th>
                                      <th>{{ build_pipeline_form.pandaseq_minimum_overlap.label }}</th>
                                      <th>{{ build_pipeline_form.pandaseq_minimum_length.label }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{{ build_pipeline_form.pandaseq_algorithm( class="form-control") }}</td>
                                      <td>{{ build_pipeline_form.pandaseq_minimum_overlap( class="form-control") }}</td>
                                      <td>{{ build_pipeline_form.pandaseq_minimum_length( class="form-control") }}</td>
                                  </tr>
                              </tbody>            
                          </table>
                        </div> <!-- /collapse -->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox" class="pull-right" style="padding-left: 4px">
                          <label >
                              {{ build_pipeline_form.filter(class='quality_filter') }}
                              <b>Quality Filter:</b> Filter out reads with certain % of read below given PHRED quality
                          </label>
                        </div> <!-- /checkbox -->

                        <div id="collapse" class="collapse quality_filter in">
                              <table class='table table-striped'> 
                                  <thead>
                                      <tr>
                                          <th>{{ build_pipeline_form.filter_quality.label }}</th>
                                          <th>{{ build_pipeline_form.filter_percentage.label }}</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{ build_pipeline_form.filter_quality(type="number", maxlength=3, size=3, class="form-control") }}</td>
                                          <td>{{ build_pipeline_form.filter_percentage(type="number", maxlength=3,size=3, class="form-control") }}</td>
                                      </tr>
                                  </tbody>
                              </table>
                        </div> <!-- /collapse -->
                      </td>
                    </tr>
                  </table>

                </div> <!-- /accordian  -->
              </div>
            </div> <!-- panel end -->



            <br>
            <br>

            <div class="panel panel-default">
              <div class="panel-heading">
                <center><b>Select Analysis Type</b></center>
              </div>
              <div class="panel-body" align="center">

                <div id="accordion">

                  <table width="100%" style="margin-left: 10px">
                    <tr>
                      <td width="15px"></td>
                      <td>                              
                        <label class="radio">
                          <input id="analysis_type-0" name="analysis_type" type="radio" value="igrep" class="igrep">IGREP IGFFT Alignment
                        </label>
                        <div id="collapse" class="collapse igrep radio1">
                            <h5> Our 'In-House' aligner, IGFFT uses a Fast Fourier Transform and is similar to the MSA aligner MAFFT </h5>
                            <h5> This analysis calls the alignment pipeline in the IGREP release, so annotations will be similar to previous experiments </h5>
                            <h5> Alignments are made from flat text file datasets derived from the IMGT database November 2015</h5>
                        </div> <!-- /igrep collapse -->
                      </td>
                    </tr>
                  
                    <tr>
                      <td width="15px"></td>
                      <td>                              
                        <label class="radio">
                          <input id="analysis_type-1" name="analysis_type" type="radio" value="mixcr"  checked="yep" class="mixcr">MixCR Alignment - Recommended
                        </label>
                        <div id="collapse" class="collapse mixcr radio1">
                            <h5>MiXCR uses the KAligner program originally developed for the ABySS assembly pipeline</h5>
                            <h5>This algorithm is a bit different in that it splits the reads into kmers, aligns the kmers and then compares those alignments</h5>
                            <h5>Alignments are made against the <a href=https://github.com/repseqio/repseqio">RepSeqIO</a> Database, which includes all IMGT alleles</h5>
                        </div> <!-- /mixcr collapse -->


                      </td>
                    </tr>
                  
                    <tr>
                      <td width="15px"></td>
                      <td>                              
                        <label class="radio">
                          <input id="analysis_type-2" name="analysis_type" type="radio" value="abstar" class="abstar">ABStar Alignment
                        </label>
                        <div id="collapse" class="collapse abstar radio1">
                            <h5>AbSTAR perms iterative V->J->D alignments using the BLAST algorithm</h5>
                            <h5>This routine works, but is under construction. Outputs will be produced in the native AbSTAR JSON format but not standardized.</h5>
                        </div>

                      </td>
                    </tr>
                  </table>

                </div> <!-- /accordian -->
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <center><b>Settings</b></center>
              </div>
              <div class="panel-body" align="center">

                <div id="settings">
                  <br>
                  <table class='table table-striped'> 
                      <thead>
                          <tr>
                            <th>Species</th>
                            <th>Loci</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>{{ build_pipeline_form.species(class="form-control") }}</td>
                            <td>{{ build_pipeline_form.loci() }}</td>
                          </tr>
                      </tbody>
                  </table>

                </div>
              </div>
            </div>



            <div class="panel panel-default">
              <div class="panel-heading">
                <center><b>Choose Postprocessing Options</b></center>
              </div>
              <div class="panel-body" align="center">

                <div id="accordion">

                  <table >
                    <tr>
                      <td>

                        <div class="checkbox" class="pull-right" style="padding-left: 4px">
                          <label>
                              {{ build_pipeline_form.pair_vhvl}}
                              <b>Paired VH::VL Data - Collapse to single data file</b> 
                          </label>
                        </div> <!-- /checkbox -->



                        <div class="checkbox" class="pull-right" style="padding-left: 4px">
                          <label>
                              {{ build_pipeline_form.standardize_outputs(class='standardize_outputs') }}
                              <b>Stardize Output To BIGG-compatible Format</b> 
                          </label>
                        </div> <!-- /checkbox -->

                        <div id="collapse" class="collapse standardize_outputs in">
                          <div style="margin-left: 25px">

                            <div style="padding-left: 4px">
                              <label>
                                  <b>This will route the raw annotation file through our standardization, which will reformat columns to be identical regardless of alignment program.</b>
                              </label>
                            </div>

                            <div class="checkbox" class="pull-right" style="padding-left: 4px">
                              <label>
                                  <b>Filter out any annotations without these peptide sequences annotated:</b>
                                  {{ build_pipeline_form.require_annotations(class='require_annotations') }}
                              </label>
                            </div>

                            <div class="checkbox" class="pull-right" style="padding-left: 4px">
                              <label>
                                  {{ build_pipeline_form.remove_seqs_with_indels(class='remove_seqs_with_indels') }}
                                  <b>Remove all AA sequences with insertions or deletions (annotated "*" or "_").</b>
                              </label>
                            </div>


           
                          </div>
                        </div> 
                      </td>
                    </tr>
                  </table>

                </div> <!-- /accordian  -->
              </div>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <center><b>Name This Analysis</b></center>
              </div>
              <div class="panel-body" align="center">
                <br>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Analysis Name</th>
                      <th>Analysis Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ build_pipeline_form.name(size=25, class="form-control") }}</td>
                      <td>{{ build_pipeline_form.description(size=25, rows=1, class="form-control") }}</td>
                    </tr>
                  </tbody>
                </table>

                <br>
                <br>
                <center>
                  <span><input class="btn btn-default form-control" type="submit" value="Run Analysis Pipeline" style="max-width: 40em;"></span> 
                </center>

              </div> <!-- /item -->
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>




<script>


// Following code creates a dictionary for selecting files from datasets
{% if dataset_file_dict != {} %}

dataset_dict = {
  {%- for key, dictionary in dataset_file_dict.items() %}
  '{{key}}':{
    {%- for file_id, file_name in dictionary.items() -%} '{{file_id}}':'{{file_name}}', {%- endfor -%}
  },
  {%- endfor %}
};
{% else %}
dataset_dict = {};
{% endif %}

// Create a code indicating which project a dataset is in
{% if dataset_file_dict != {} %}
dataset_project_dict = {
  {% for key, value in dataset_project_dict.items() -%}
  '{{key}}':'{{value}}', 
  {% endfor -%}
};
{% else %}
dataset_project_dict = {};
{% endif %}

// Create a list of runtime attributes
{% if runtime_attributes != {} %}

runtime_attributes = [
  {% for tuple in runtime_attributes -%}
  {%- if tuple[2] == '' -%}
  ['{{tuple[0]}}', '{{tuple[1]}}', true],
  {%- else -%}
  ['{{tuple[0]}}', '{{tuple[1]}}', '{{tuple[2]}}'],
  {% endif %}
  {% endfor -%}
]
{% else %}
runtime_attributes = [];
{% endif %}

// Controls for file inputes
$(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        //label = input.val();
    input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
  
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        var parent_input_group = $(this).closest('div');
        var child_input = parent_input_group.children('input');
        child_input.val(label);

        $( '#' + $(this).attr('id') + '_name' ).val(label);

    });
});

// Mutliple select box with single select ability
$(function(){
    $('#dataset').removeAttr("multiple");
});

// Set runtime attributes on load
$(document).ready(function(){
  for (var i=0; i<runtime_attributes.length; i++){
    var selector = runtime_attributes[i][0];
    var attribute = runtime_attributes[i][1];
    var value = runtime_attributes[i][2];

    if (value == true){
      $(selector).prop(attribute, true);
    }else{
      $(selector).attr(attribute, value);    
    }
  }

  $("#dataset option").each( function( index ) {
    $(this).triggerHandler('click'); 
  });
  $('input[type=radio][name="file_source"]').each( function( index ) {
    $(this).triggerHandler('change'); 
  });
  $('input[type=radio][name="analysis_type"]').each( function( index ) {
    $(this).triggerHandler('change'); 
  });
  $('input[type=checkbox]').each( function( index ) {
    $(this).triggerHandler('change'); 
  });

  $('select[name=file_pairing]').each( function( index ) {
    $(this).triggerHandler('change'); 
  });


  {% if build_pipeline_form.dataset_files.default and build_pipeline_form.dataset_files.default != [] -%}
    $('#dataset_files').val( [{%- for default in build_pipeline_form.dataset_files.default %} '{{default}}', {% endfor -%}]);
  {%- endif %}

});

// Change file choices based on dataset choice
$("#dataset option").click(function() {

    checked_file_source = $('input[type=radio][name="file_source"]:checked').attr('class');

    if (checked_file_source != undefined && checked_file_source != 'file_dataset'){
      return
    }

    var dataset_id = $('select[id=dataset]').val();

    if (dataset_id != null){

      $('#dataset_files')
        .find('option')
        .remove()
        .end();

      // Based on selected dataset, autopopulate form values for output
      $('#output_dataset').val(dataset_id);
      $('#output_project').val(dataset_project_dict[dataset_id]);

      selectValues = dataset_dict[dataset_id];

      $.each(selectValues, function(key, value) {   
        $('#dataset_files')
          .append($('<option>', { value : key })
          .text(value)); 
      });

    }else{
      $('#dataset_files')
        .find('option')
        .remove()
        .end();      
    }

});

$('input[type=radio][name="analysis_type"]').on('change', function () {
    if (!this.checked) return
    $('.radio1.collapse').not($('div.' + $(this).attr('class'))).slideUp();
    $('.radio1.collapse.' + $(this).attr('class')).slideDown();
});

$('input[type=checkbox]').on('change', function () {
    
    if (!this.checked){
      $('.collapse.' + $(this).attr('class')).slideUp();
    }else{
      $('.collapse.' + $(this).attr('class')).slideDown();
    }
});

$('select[name=file_pairing]').on('change', function () {
    if ($(this).val() == 'none'){
      $('.collapse.file_pairing').slideUp();  
    }else{
      $('.collapse.file_pairing').slideDown();
    }
});

$('.mightOverflow').bind('mouseenter', function(){
  var $this = $(this);

  if(this.offsetWidth < this.scrollWidth && !$this.attr('title')){
    $this.attr('title', $this.text());
  }
});

</script>




{% endblock wide_content %}

