{% extends "_base.html" %}
{% block content %}
<br>


<div class="container">
<h3>Import from an SRA Accession: </h3>
    <form method="POST" action="/files/import_sra" enctype="multipart/form-data">
    <table class="table table-striped">
        {{ form.csrf_token }}
        <thead>
            <tr>
                <th>Accession (begins with 'SRR', SRR1525443 for instance)</th>
                <th>Description</th>
                <th>Chain</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ form.accession(size=20) }}</th>
                <th> {{ form.description(size=60) }}</th>
                <th>{{ form.chain  }}</th>
                <th><input type="submit" value="Submit"></th>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<br>


{% if status %}
<div class='container'>
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
<br>
{% if result %}
<p>Async Task ID: {{result.id}}</p>
{% endif %}
</div>
{% endif %}

<br>

<div class="container" >
<h4>Here's an iframe of the NCBI Run Selector if you need to go on the hunt:</h4>
<iframe style='width: inherit; height: 850px;' src="http://www.ncbi.nlm.nih.gov/Traces/study/?go=home"></iframe>
</div>


<br><br>


<div class="container">
<a href="{{url_for('.files')}}"><h4>Back To My Files</h4></a>
</div>


<!-- <h4>{{ r }}</h4> -->
{% endblock %}