{% extends "_base.html" %}
{% block content %}
<br>

<div class="container">
    <h4>Import from an SRA Accession</h4>
    <p>Currently files from NCBI's SRA must be transferred, so these files might take a minute or two to become available.</p>
    <form method="POST" action="/files/import_sra" enctype="multipart/form-data">
        <table class='table'> 
            <thead>
                <tr>
                    {{ form.csrf_token }}
                    <th><label>Accession</label> (begins with 'SRR', SRR1525443 for instance):</th>
                    <th><label>Description:</label></th>
                    <th><label>Chain:</label></th>
                    <th><label>Add to Dataset/Project:</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form.accession(size=20, class="form-control") }}</td>
                    <td>{{ form.description(size=25, rows=1, class="form-control") }}</td>
                    <td>{{ form.chain(class="form-control") }}</td>
                    <td>
                        {{ form.dataset(class="form-control") }}<br>
                        {{ form.project(class="form-control") }}
                    </td>
                    <td><input class="btn btn-default form-control" type="submit" value="Submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<br>


{% if status %}
<div class='container'>
{% for ln in status %}
    <h4>{{ln}}</h4>
{% endfor %}
<br>
{% if result %}
<p>Async Task ID: {{result.id}}</p>
{% endif %}
</div>
{% endif %}

<br>

<div class="container" >
<h4>Here's an iframe of the NCBI Run Selector if you need to go on the hunt:</h4>
<iframe style='width: inherit; height: 850px;' src="http://www.ncbi.nlm.nih.gov/Traces/study/?go=home"></iframe>
</div>


<br><br>


<div class="container">
<a href="{{url_for('.files')}}"><h4>Back To My Files</h4></a>
</div>


<!-- <h4>{{ r }}</h4> -->
{% endblock %}