{% extends '_base.html' %}

{% block content %}

<div class="container">

    <h1>View Project</h1>
    
    {% if not read_only %}
        You may edit the information below by <a href='{{url_for("projects.edit_project", project_id = project_id)}}'>clicking here</a>.
        <br/>
    {% else %}
        <p>The information about your project is listed below. </p>
    {% endif %}
    <br>
    <form method="POST" action="{{url_for('projects.edit_project', project_id = project_id)}}">
        
        {{ view_project_form.hidden_tag() }}

        <div class='row'>

            <div class="col-md-4">
                {{ view_project_form.project_name.label }}<br/>
                {{ view_project_form.project_name.data }}<br/>
            </div>
            <div class="col-md-4">
                {{ view_project_form.lab.label }}<br/>
                {{ view_project_form.lab.data }}<br/>
            </div>

            <div class="col-md-4">
                {{ view_project_form.publications.label }}<br/>
                {{ view_project_form.publications.data }}<br/>
            </div>
        </div>
        <br/>
        <br/>
        <div class='row'>

            <div class="col-md-4">
                {{ view_project_form.cell_types_sequenced.label }}<br/>
                {{ view_project_form.cell_types_sequenced.data }}<br/>
            </div>
            <div class="col-md-4">
                {{ view_project_form.species.label }}<br/>
                {{ view_project_form.species.data }}<br/>
            </div>
            <div class="col-md-4">
                <label>Creation Date</label><br/>
                {{ creation_date }}<br/>
            </div>

            <div class="col-md-4">
            </div>
        </div>
        <br/>
        <br/>
        <div class='row'>
            <div class="col-md-4">
                <label>Owner</label><br/>
                {{owner}}<br/>
                <br/>
                {{ view_project_form.description.label }}<br/>
                {{ view_project_form.description.data }} <br/>
            </div>
            <div class="col-md-4">
                {% if dataset_list %}
                    <label>Datasets</label><br/>
                    <table>
                        <tr>
                            <td>Dataset:</td>
                            <td style="padding-left:8px">Owner Name:</td>
                        </tr>
                        {% for dataset, name, dataset_id in dataset_list %}
                        <tr>
                            <td><a href="{{ url_for( 'frontend.dataset', id = dataset_id ) }}">{{dataset}}</a></td>
                            <td style="padding-left:8px">{{name}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br/>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if write_user_list %}
                    <label>Users</label><br/>
                    {% for name in write_user_list %}
                        {{name}}<br/>
                    {% endfor %}
                    <br/>
                {% endif %}
                {% if read_only_list %}
                    <label>Read-Only Access</label><br/>
                    {% for name in read_only_list %}
                        {{name}}<br/>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        <input type='hidden' name='submit' value="Update">

        <!--<button type="submit" value="submit" class="btn btn-default">Update</button>-->
        
    </form>
    <br/>
    <br/>
    <em>After you are done updating, you may <a href="{{url_for('projects.manage_projects')}}">click here</a> to return and view other projects.</em>
    
</div>

<div class="container">
    <row>
        <h4><a data-toggle="collapse" data-target="#datasets" href='#'>Click here to access datasets</a></h4>
    </row>
    <div class="collapse table-responsive" id="datasets" aria-expanded="false">
        {#% include "partials/DatasetsDT.html" with context %#}
    </div>
</div>
<script>
var table = $('#dataset').DataTable({
        columnDefs: [
        { targets: 'no-sort', orderable: false }
        ],
        order: [[ 1, 'asc' ]]
    });
 
    var table_data = [
    {%- for dataset in datasets -%}
        {%- if dataset.files.all() == [] -%}
            `<a href="{{url_for('frontend.dataset', id=dataset.id)}}">Click Here To Add Files To Dataset {{dataset.id}}</a><br/>`,
        {%- else -%}
            {%- set files = dataset.files -%}
            `{%- include "partials/files.html" with context %}`,
        {%- endif -%}
    {%- endfor -%}
        ''
    ];

    table.rows().every( function () {
        this.child( table_data[this.index()] );
    } );

    $('#dataset tbody').on( 'click', 'td.details-control', function () {
        var child = table.row( this ).child;
        var tr = $(this).closest('tr');
        
        if ( child.isShown() ) {
            child.hide();
            tr.removeClass('shown');
        }
        else {
            child.show();
            tr.addClass('shown')

        }
    } );

</script>

{%endblock content %}


